{% extends './layout.html' %}

{% block Title %} Home {% endblock Title %}

{% block CSS %}
<link rel="stylesheet" href="{{url_for('static',filename='css/capturista_home.css')}}">
{% endblock %}

{% block Body %}

<ul>
    <li><a href="#"><h2>Bienvenid@</h2></a></li>
    <li><a href="{{url_for('formularioAdministrador')}}">Agregar Expedientes</a></li>
    <li><a href="{{url_for('reportesA')}}">Ver Expedientes</a></li>
    <li><a href="{{url_for('editar_reporte')}}">Editar Expedientes</a></li>
    <li><a href="{{url_for('eliminar')}}">Eliminar Expedientes</a></li>
    <li><a href="{{url_for('deleted_reports')}}">Ver Reportes Eliminados</a></li>
    <li><a href="{{url_for('logout_admin')}}"> Cerrar sesion </a></li>
</ul>
{% endblock %}
