{% extends './layout.html' %}

{% block Title %} Reportes {% endblock Title %}

{% block CSS %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
{% endblock %}

{% block Body %}


<section class="section">
    <div class="columns">
        <div class="column">
            <h3 class="is-size-3">Reportes</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th>Expediente</th>
                        <th>Solicitud</th>
                        <th>Acreditacion</th>
                        <th>Acta constitutiva</th>
                        <th>Identificacion</th>
                        <th>Ubicacion</th>
                        <th>Plano</th>
                        <th>Carta poder</th>
                        <th>estatus</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reporte in reportes %}
                    <tr>
                        <td>{{reporte[0]}}</td>
                        <td><a href="#">{{reporte[0]}} (solicitud.pdf) </a></td>
                        <td><a href="#">{{reporte[1]}} (acreditacion.pdf) </a></td>
                        <td><a href="#">{{reporte[2]}} (acta_constitutiva.pdf) </a></td>
                        <td><a href="#">{{reporte[3]}} (identificacion.pdf) </a></td>
                        <td><a href="#">{{reporte[4]}} (ubicacion.pdf) </a></td>
                        <td><a href="#">{{reporte[5]}} (plano.pdf) </a></td>
                        <td><a href="#">{{reporte[6]}} (carta_poder.pdf) </a></td>
                        <td><a href="#">{{reporte[7]}}  (estatus.pdf) </a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{{url_for('home')}}" class="button is-primary mt-2">Volver</a>
        </div>
    </div>
</section>

{% endblock %}